
a {
    color: #00B7FF;
}

.title {
    font-family: "HelveticaNeue-Light";
    font-weight: 400;
}

.icon {
    width: 150px;
    padding: 15px;
}

#jumbotron {
    background: url('../images/poster.jpg')center center;
    color: white;
    padding: 120px 0px;
    text-align: center;
}

#jumbotron a {
    text-decoration: none;
}

#content {
    margin: 100px 0px;
}

#content img {
    width: 100px;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

#footer {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000, #434343);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000, #434343);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 90px 0px;
    text-align: center;
}
